<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CampusVarbergDashBoard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/20.2.36/dist/ej2.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CampusVarbergDashBoard.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/27.1.48/fluent.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.syncfusion.com/ej2/27.1.48/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        <div class="logo-header m-sm-3">
            <img class="logo" src="~/Img/campus_logo_2x.png" alt="Campus Varberg Logga" style="width: 15%" />
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm sticky-navbar">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav d-flex flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home" asp-action="Index"><strong>Översikt</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home" asp-action=""><strong>Filtrering</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="GeoData" asp-action="Map"><strong>Kartvy</strong></a>
                        </li>
                        <li class="nav-item separator">
                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home" asp-action="Settings"><strong>Inställningar</strong></a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-dark nav-button" asp-area="" asp-controller="Home" asp-action="Kontakt"><strong>Kontakt</strong></a>


@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
 *@                           @*  @await Component.InvokeAsync("GenderDistribution")
                            @await Component.InvokeAsync("TotalApplicants")
                            @await Component.InvokeAsync("Competence") *@

                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>


                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CampusVarbergDashBoard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
