@model TotalApplicants

<div class="card custom-card">
    <div class="card-body">
        <h2>Totalt: @Model.TotalApplicantsCount st</h2>
    </div>
</div>

<style>
    .custom-card{
        border: none;
        box-shadow: none;
        width:auto;
    }
</style>
