
@model IEnumerable<Applicant>
         
@{
    spacingModel modelValue = new spacingModel();
    modelValue.cellSpacing = new double[] { 10, 10 };
}


<div class="container">
    <div class="overview-container">
        <h3 class="overview-title"><strong>Summering av Sökande till YH-Utbildningar:</strong></h3>
        <div class="dashboard-container">
            <div class=" control-section">
                <!--  DashboardLayout element declaration -->
                <ejs-dashboardlayout id="defaultLayout" columns="6" cellSpacing="modelValue.cellSpacing">
                    <e-dashboardlayout-panels>
                        <!--Panel 1-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="1" row="0" col="0" content="<div>1</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 2-->
                        <e-dashboardlayout-panel sizeX="3" sizeY="2" row="0" col="1" content="<div>2</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 3-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="3" row="0" col="4" content="<div>3</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 4-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="1" row="1" col="0" content="<div>4</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 5-->
                        <e-dashboardlayout-panel sizeX="2" sizeY="1" row="2" col="0" content="<div>5</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 6-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="1" row="2" col="2" content="<div>6</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 7-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="1" row="2" col="3" content="<div>7</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 8-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="1" row="0" col="5" content="<div>8</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 9-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="1" row="1" col="5" content="<div>9</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 10-->
                        <e-dashboardlayout-panel sizeX="1" sizeY="1" row="2" col="5" content="<div>10</div>">
                        </e-dashboardlayout-panel>

                    </e-dashboardlayout-panels>
                </ejs-dashboardlayout>
                <!-- end of dashboardlayout element -->
            </div>
        </div>
    </div>
</div>

