@model Applicant

@{
    spacingModel modelValue = new spacingModel();
    modelValue.cellSpacing = new double[] { 10, 10 };
}

<div class="container">
    <div class="overview-container">
        <h4 class="overview-title"><strong>Summering av Sökande till YH-Utbildningar:</strong></h4>
        <div class="dashboard-container">
            <div class="control-section">
                <!--  DashboardLayout element declaration -->
                <ejs-dashboardlayout id="defaultLayout" columns="6" cellSpacing="modelValue.cellSpacing">
                    <e-dashboardlayout-panels>

                        <!--Panel 1 Donut-->
                        <e-dashboardlayout-panel id="Panel1" sizeX="2" sizeY="2" row="0" col="0">
                            <e-content-template>
                                <div>
                                    <div class="e-panel-container">
                                        <div class="e-panel-header">
                                            <div>
                                                Könsfördelning
                                            </div>
                                        </div>
                                        <div class="e-panel-content">
                                            @await Component.InvokeAsync("GenderDistribution")
                                        </div>
                                    </div>
                                </div>
                            </e-content-template>
                        </e-dashboardlayout-panel>
                                                
                        <!--Panel 2 Donut-->
                        <e-dashboardlayout-panel id="Panel2" sizeX="2" sizeY="2" row="0" col="2">
                            <e-content-template>
                                								<div>
									<div class="e-panel-container">
										<div class="e-panel-header">
											<div>
												Antal sökande
											</div>
										</div>
										<div class="e-panel-content">
											@await Component.InvokeAsync("TotalApplicants")
										</div>
									</div>
								</div
                            </e-content-template>
                        </e-dashboardlayout-panel>
                        
                        <!--Panel 3 Donut-->
                        <e-dashboardlayout-panel id="Panel3" sizeX="2" sizeY="2" row="2" col="0">
                            <e-content-template>
                                <div>
									<div class="e-panel-container">
										<div class="e-panel-header">
											<div>
												Kompetensfördelning
											</div>
										</div>
										<div class="e-panel-content">
											@await Component.InvokeAsync("Competence")
										</div>
									</div>
								</div>
                            </e-content-template>
                        </e-dashboardlayout-panel>

                        <!--Panel 4 Donut-->
                        <e-dashboardlayout-panel id="Panel4" sizeX="2" sizeY="2" row="2" col="0" content="<div>4</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 5 Donut-->
                        <e-dashboardlayout-panel id="Panel5" sizeX="2" sizeY="2" row="2" col="2" content="<div>5</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 6 Kartvy-->
                        <e-dashboardlayout-panel id="Panel6" sizeX="2" sizeY="4" row="2" col="4" content="<div>6</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 7 Stapel/hockeyklubba-->
                        <e-dashboardlayout-panel id="Panel7" sizeX="4" sizeY="2" row="4" col="0" content="<div>7</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 8 Donut-->
                        <e-dashboardlayout-panel id="Panel8" sizeX="2" sizeY="2" row="6" col="0" content="<div>8</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 9 Donut-->
                        <e-dashboardlayout-panel id="Panel9" sizeX="2" sizeY="2" row="6" col="2" content="<div>9</div>">
                        </e-dashboardlayout-panel>

                        <!--Panel 10 Donut-->
                        <e-dashboardlayout-panel id="Panel10" sizeX="2" sizeY="2" row="6" col="4" content="<div>10</div>">
                        </e-dashboardlayout-panel>

                    </e-dashboardlayout-panels>
                </ejs-dashboardlayout>
                <!-- end of dashboardlayout element -->
            </div>
        </div>
    </div>
</div>
