
<div>
    <div class="kontakt" style=" margin: 0 auto; width: 90%; background-color: white; display: flex; align-items: center;">
        <div class="kontakt-content m-4">
            <h3><strong>KONTAKT</strong></h3><br />
            <h6>RECEPTIONENS ÖPPETTIDER</h6>
            <p>
                <strong>Måndag</strong> 08:00 - 13:00 <br />
                <strong>Tisdag</strong> 08:00 - 13:00 <br />
                <strong>Onsdag</strong> 08:00 - 13:00 <br />
                <strong>Torsdag</strong> 08:00 - 13:00 <br />
                <strong>Fredag</strong> 08:00 - 12:00 <br />
            </p>

            <h6>KONTAKT</h6>
            <p>
                <strong>Telefon: </strong> 0340-69 74 00<br />
                <strong>E-post: </strong><a href="mailto:info@campus.varberg.se">info@campus.vaberg.se</a><br />
                <strong>Fax: </strong> 0340-69 74 13<br />
            </p>
            
            <h6>SOCIALA MEDIER</h6>
            <p>
                <a target="_blank" href="https://www.facebook.com/campusvarberg" rel="noopener">Facebook
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
            </p>


            <h6>ADRESSER OCH UPPGIFTER</h6>
            <p>
                <strong>Besöksadress</strong><br />
                Otto Torells gata 20<br />
                432 44 Varberg<br />
            </p>
            <p>
                <strong>Postadress</strong><br />
                Campus Varberg<br />
                432 80 Varberg<br />
            </p>
            
        </div>
    </div>
</div>


<style>
    a {
        color: #40658b;
        text-decoration: none;
    }
</style>
