
<div>
    <div class="kontakt" style="margin: 0 auto; width: 80%; background-color: white; display: flex; flex-wrap: wrap; align-items: flex-start;">
        <div class="kontakt-content" style="flex: 1; min-width: 300px; margin: 5% 6% 0 6%">
            <h3><strong>KONTAKT</strong></h3><br />
            <h6>RECEPTIONENS ÖPPETTIDER</h6>
            <p>
                <strong>Måndag</strong> 08:00 - 13:00 <br />
                <strong>Tisdag</strong> 08:00 - 13:00 <br />
                <strong>Onsdag</strong> 08:00 - 13:00 <br />
                <strong>Torsdag</strong> 08:00 - 13:00 <br />
                <strong>Fredag</strong> 08:00 - 12:00 <br />
            </p>

            <h6>KONTAKT</h6>
            <p>
                <strong>Telefon: </strong> 0340-69 74 00<br />
                <strong>E-post: </strong><a href="mailto:info@campus.varberg.se">info@campus.vaberg.se</a><br />
                <strong>Fax: </strong> 0340-69 74 13<br />
            </p>

            <h6>SOCIALA MEDIER</h6>
            <p>
                <a target="_blank" href="https://www.facebook.com/campusvarberg" rel="noopener">
                    Facebook
                <i class="fa fa-external-link" aria-hidden="true"></i></a><br />
                <a target="_blank" href="https://www.instagram.com/campusvarberg/" rel="noopener">
                    Instagram
                <i class="fa fa-external-link" aria-hidden="true"></i></a><br />
                <a target="_blank" href="https://www.youtube.com/user/CampusVarberg" rel="noopener">
                    Youtube
                <i class="fa fa-external-link" aria-hidden="true"></i></a><br />
                <a target="_blank" href="https://www.linkedin.com/company/campus-varberg" rel="noopener">
                    LinkedIn
                <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </p>

            <h6>ADRESSER OCH UPPGIFTER</h6>
            <p>
                <strong>Besöksadress</strong><br />
                Otto Torells gata 20<br />
                432 44 Varberg<br />
            </p>
            <p>
                <strong>Postadress</strong><br />
                Campus Varberg<br />
                432 80 Varberg<br />
            </p>
        </div>

        <div class="img-container" style="background: blanchedalmond; flex: 1; min-width: 300px; margin: 11% 6%;">
            <div class="img-block" style="width: 400px; height: 400px;">
                <h6>Bild på Campus Varberg</h6>
            </div>
        </div>

        <div class="text-kommunikation" style="flex-basis: 100%; align-items: unset; margin: 2% 6% 6% 6%">
            <p>
                <em>
                    Tänk på att skriftlig kommunikation med Campus Varberg - e-post, sms, vanlig post eller fax - blir allmän handling
                    och kan komma att diarieföras. Enligt offentlighetsprincipen kan allmänna handlingar komma att lämnas ut efter begäran.
                    <br /><br />
                    Campus Varberg är en del av Utbildnings- och arbetsmarknadsförvaltningen i Varbergs kommun.
                </em>
            </p>
        </div>
    </div>
</div>


<style>
    a {
        color: #40658b;
        text-decoration: none;
    }

    .fa{
        font-size: 14px;
    }
</style>
