
<div class="settings-container">
    <div class="settings-page">
        <div class="settings-content">
            <h3><strong>INSTÄLLNINGAR</strong></h3><br />

            <h6>
                TOGGLE DARKMODE:
            </h6>
            <p>
                <input class="darkmode-checkbox" type="checkbox" id="darkmode-toggle" />
                <label class="darkmode-toggler" for="darkmode-toggle" aria-label="darkmode-toggle-on-off">
                    <i class="far fa-sun" aria-hidden="true"></i>
                    <i class="far fa-moon" aria-hidden="true"></i>
                </label>
            </p>
        </div>
    </div>
</div>