:root {
    --base-color: white;
    --background-color: #dedfe4;
    --text-color: black;
    --secondary-text: white;
    --img-invert: brightness(100%);
    --link-text-color: #40658b;
}

.darkmode {
/*    
    Dark blue darkmode
    --base-color: #101425;
    --background-color: #070b1d;*/
/*  Dark grey dark mode  */
    --base-color: #2a2a2a;
    --background-color: #1a1a1a;

    --text-color: white;
    --secondary-text: black;
    --img-invert: brightness(1000%);
    --link-text-color: #3075ba;
}




html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-color: var(--background-color);
    color: var(--text-color); 
}

.nav-item{
    padding: 0 10px !important;
}

.nav-item a{
    width: 120px;
    text-align:center;
    padding: 10px;

}

/*.navbar-nav{
    margin-left: 10%;
}*/

.navbar {
    background-color: #f6bf45 !Important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-button:hover {
    background-color: #6abdc4 !Important;
    color: white !important;
}

.nav-item.separator {
    position: relative; /* Gör det möjligt att placera pseudo-elementet */
    margin-left:8%;
    padding-left: 8%; /* Utrymme till vänster om innehållet */
}

.nav-item.separator::before {
    content: ""; /* Skapa ett tomt innehåll för linjen */
    position: absolute; /* Positionera den absolut */
    left: -8%; /* Utrymme till vänster */
    top: 50%; /* Centrera den vertikalt */
    transform: translateY(-50%); /* Justera för att centrerade linjen vertikalt */
    height: 70%; /* Sätt höjden på linjen */
    border-left: 1px solid black; /* Linjens stil */
}


.overview-container {
    margin: 5px;
    width: 90%;
    margin-left: 5%;
}

.overview-title{
    margin:20px 0;
    
}

.sticky-navbar {
    position: -webkit-sticky; /* För Safari */
    position: sticky !important;
    top: 0 !important;
}

.logo{
    filter: var(--img-invert);
}




/* DashboardLayout element styles  */
#defaultLayout {
    padding: 10px;
}

.e-panel .e-panel-container {
    vertical-align: top;
    font-weight: bold;
    padding: 10px;
    background-color: var(--base-color) !Important;
    color: var(--text-color) !Important;
}

.e-panel .e-panel-header {
    font-size: 20px;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    color: var(--text-color) !Important;
}

.e-panel .e-panel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    text-align: left;
}

.card {
    background-color: var(--base-color) !important;
}

/*Kontakt*/
.kontakt {
    margin: 0 auto;
    width: 80%;
    background-color: var(--base-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.kontakt-content {
    flex: 1;
    min-width: 300px;
    margin: 5% 6% 0 6%
}

.kontakt-content p {
    margin: 5% 0;
}

.img-container {
    background: blanchedalmond;
    flex: 1;
    min-width: 300px;
    margin: 11% 6%;
}

.img-block {
    width: 400px;
    height: 400px;
}

.text-kommunikation {
    flex-basis: 100%;
    align-items: unset;
    margin: 2% 6% 6% 6%
}

.kontakt a {
    color: var(--link-text-color);
    text-decoration: none;
}

.kontakt .fa {
    font-size: 14px;
}


/*Settings*/
.settings-page {
    margin: 0 auto;
    width: 80%;
    background-color: var(--base-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.settings-content {
    flex: 1;
    margin: 5% 6% 0 6%;
}

.settings-content h6 {
    margin: 0 0 -1% 0;
}


