html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-color: #dedfe4;
}

.nav-item{
    padding: 0 10px !important;
}

.nav-item a{
    width: 120px;
    text-align:center;
    padding: 10px;

}

/*.navbar-nav{
    margin-left: 10%;
}*/

.navbar {
    background-color: #f6bf45 !Important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-button:hover {
    background-color: #6abdc4 !Important;
    color: white !important;
}

.nav-item.separator {
    position: relative; /* Gör det möjligt att placera pseudo-elementet */
    margin-left:8%;
    padding-left: 8%; /* Utrymme till vänster om innehållet */
}

.nav-item.separator::before {
    content: ""; /* Skapa ett tomt innehåll för linjen */
    position: absolute; /* Positionera den absolut */
    left: -8%; /* Utrymme till vänster */
    top: 50%; /* Centrera den vertikalt */
    transform: translateY(-50%); /* Justera för att centrerade linjen vertikalt */
    height: 70%; /* Sätt höjden på linjen */
    border-left: 1px solid black; /* Linjens stil */
}


.overview-container {
    margin: 5px;
    width: 90%;
    margin-left: 5%;
}

.overview-title{
    margin:20px 0;
    
}

.sticky-navbar {
    position: -webkit-sticky; /* För Safari */
    position: sticky !important;
    top: 0 !important;
}




/* DashboardLayout element styles  */
#defaultLayout {
    padding: 10px;
}

#defaultLayout .e-panel .e-panel-container {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 160px;
}




