@model CompetenceDistribution

<div class="competence-distribution">
    <h4>Behörighet</h4>
    <p>Antal Behöriga: @Model.CompetenceCount</p>
    <p>Icke-Behöriga: @Model.NonCompetenceCount</p>
</div>
