@model CompetenceDistribution

<div class="card">
    <div class="card-body">
        <h4>Behörighet</h4>
        <p>Antal Behöriga: @Model.CompetenceCount</p>
        <p>Icke-Behöriga: @Model.NonCompetenceCount</p>
    </div>
</div>


