@model GenderDistribution

<div class="card">
    <div class="card-body">
        <h4>Könsfördelning</h4>
        <p>Män: @Model.MaleCount</p>
        <p>Kvinnor: @Model.FemaleCount</p>
    </div>
</div>